
.fondo{
    width: 100%;
   position: fixed;
    z-index:100;
    text-align: center;
}
.tabla{
    text-align: center;
    background-image: url(1.jpg);
    text-align: center;
    background-image: url(2.jpg);
}

.colres{
    background-color: black;
}
